save_data/target_model/RF_MNIST.pkl
save_data/target_model/MNIST_STANDERD/RF_MNIST.pkl
save_data/auto_encoder_model/latent_space
analyse/MNSIT_gif
save_data/MNIST_png
save_data/test_samples
save_data/test_samples_tsne
save_data/visualize_table_exp
save_data/test_stability/test_stability
